<app-menubar></app-menubar>

<div class="relative flex justify-center">
  <div class="absolute top-[200px] bg-red-200 z-50 px-5 py-1 rounded-full">
  <h1 class="font-semibold">プロジェクト検索ページ</h1>
  </div>
</div>
<section class="relative block" style="height: 500px;">
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style='background-image: url("https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80");'
  >
    <span
      id="blackOverlay"
      class="w-full h-full absolute opacity-50 bg-black"
    ></span>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px;"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</section>
<section class="relative py-16 bg-yellow-200">
  <div class="container mx-auto flex min-w-[1000px] flex-wrap gap-x-[1] gap-y-[1]">
    <ng-container *ngIf="projectList">
      <div *ngFor="let project of projectList; let idx = index" class="w-1/2">
        <app-projects-list [project]="project" [index]="idx"></app-projects-list>
      </div>
    </ng-container>
  </div>
</section>
